.smallcard-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: auto;
}

.smallcard-container > img {
    width: 40px;
    margin-right: 10px;
}

.smallcard-container > div {
    display: flex;
    flex-direction: row;
}