body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

#main-container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 9fr 2fr 2fr 1fr;
}

.green-background {
    background-color: green;
}

.yellow-background {
    background-color: yellow;
    grid-column: 2 / 5;
}

.pink-background {
    background-color: fuchsia;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}

.blue-background {
    background-color: blue;
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

.red-background {
    background-color: red;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.lightgreen-background {
    background-color: lightgreen;
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

.purple-background {
    background-color: purple;
    grid-column: 1 / 5;
    grid-row: 5 / 6;
}