body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

#top-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 7vh;
}

.green-background {
    background-color: green;
    grid-column: 1 / 2;
}

.yellow-background {
    background-color: yellow;
    grid-column: 2 / 5;
}

.pink-background {
    background-color: fuchsia;
}

.blue-background {
    background-color: blue;
}

.red-background {
    background-color: red;
}

.lightgreen-background {
    background-color: lightgreen;
}

.purple-background {
    background-color: purple;
}